
<div class="container-fluid">
  <h3>Users:</h3>
  <br>

  <div class="table-responsive">
    <table class="table table-hover table-dark" *ngIf="data?.length > 0">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td [innerHTML]="item.first_name"></td>
          <td [innerHTML]="item.last_name"></td>
          <td [innerHTML]="item.email"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
